/* Typography */
body {
  font-family: system-ui, Verdana, "Gill Sans MT", Calibri;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  min-width: 300px;
  max-width: 1400px;
}

/* Headings */
h1, h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #20b0d0;
  font-weight: bold;
}

h3 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #2f9320;
}

/* Copyright */
.copyright {
  font-size: 0.8em;
  text-align: center;
}

/* Navigation Menu */
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  flex: auto;
}

nav a {
  font-size: 1.2em;
  padding: 0 20px;
}

/* Links */
a {
  text-decoration: none;
  color: rgb(235, 38, 246);
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Figures */
figure {
  float: right;
  margin-left: 20px;
  padding: 20px;
  background-color: rgb(24, 199, 94);
  border: 1px solid rgb(67, 170, 234);
}

figcaption {
  font-size: 0.6em;
}

/* Background */
html {
  background: url('Images/pngtree-blue-background-hd-images-browse-stock-photos-vectors-picture-image_2443074.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Overlay Navigation */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(44, 159, 96, 0.95);
  overflow-x: hidden;
  transition: height 0.8s ease;
}

/* Overlay Content */
.overlay-content {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/* Overlay Links */
.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  color: #ab2843;
  display: block;
  transition: color 0.3s ease;
}

.overlay a:hover,
.overlay a:focus {
  color: #b0528f;
}

/* Close Button */
.overlay .closebtn {
  position: absolute;
  top: 35px;
  right: 55px;
  font-size: 70px;
  cursor: pointer;
}

/* Responsive Adjustments */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
