/* External Stylesheet */

body{
    font-family: Arial, sans-serif;
    background-color: #731812;
}
h1, h2{
    color: #127339;
}
p{
    line-height: 1.5;
    margin-bottom: 3em;
    color: #f675de;
    background-color: #cfcf51;
}