/* External Stylesheet */

body{
    font-family: Arial, sans-serif;
    background-color: #d7fbb1;
}

h1, h2{
    color: #21ed73;
    background-color: #c3620e;
}

p{
    line-height: 1.5;
    margin-bottom: 3em;
    color: #f675de;
    background-color: #15bfc8;
}

a{
    color: #51cfcf;
    background-color: #ac51cf;
}

a:hover{
    text-decoration: underline;
}

/* ID Selector */
#main-title {
    font-size: 4em;
    text-align: center;
}

/* Class Selector */
.reflection{
    background-color: #be1632;
    padding: 12px;
    border-left: 6px solid #6cc60b;
}