body{
    font-family: 'Times New Roman', Arial;
    line-height: 3.4;
    margin: 3rem;
    color: #561c06;
    background-color: rgb(223, 215, 139);
}
h1, h2{
    color: rgb(218, 33, 190);
}
h1{
    font-size: 2em;
    margin-bottom: 1em;
}
h2{
    font-size: 2.5em;
    margin-top: 1em;
}
img{
    max-width: 100%;
    height: auto;
    border: 2px solid orange;
     margin-top: 1rem;
 }
dl {
    margin-top: 1rem;
 }
 dt {
      font-weight: bold;
      margin-top: 1rem;
 }
dd {
      margin-left: 1rem;
}